.range-picker-wrapper {
    position: relative;
    padding: 0!important;
}

.range-picker {
    position: relative;
}

.range-picker .not-select-process {
    display: block;
    height: 5px;
    background-color: #000;
    border-top: 1px solid #000;
    border-radius: 3px;
}

.range-picker .process {
    position: absolute;
    height: 5px;
    top: 0;
    left: 0;
    background-color: #0046ff;
    border-radius: 5px;
}

.range-picker .label {
    display: inline-block;
    padding: 3px;
    width: 10px;
    height: 12px;
    border-radius: 0px;
    cursor: pointer;
}

.range-picker .range-label {
    background-color: #e1e4e9;
    color: #9ba0b9;
    position: absolute;
    top: -25px;
    font-size: 12px;
    display: none;
}

.range-picker .end-label {
    right: 0;
}

.range-picker .select-label {
    display: block;
    position: absolute;
    z-index: 0;
    top: -10px;
    font-family: monospace;
    white-space: nowrap;
    background-color: #0046ff;
    color: #0046ff;
    z-index: 99;
}

.range-picker .select-label:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #0046ff;
}

.time {
    margin: 0 -3.1%;
}

.time span {
    float: left;
    width: 6.25%;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    transform: scale(0.75);
    position: relative;
}

.time span b {
    height: 7px;
    border-left: 1px solid #000;
    position: absolute;
    left: 50%;
    top: -2px;
}